@charset "utf-8";
/* CSS Document */

/********************************************************/

body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}

html {
    /*max-width: 100vw;*/
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    max-width: 100vw;
    /*width: 800px;*/
    box-sizing: border-box;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover, a:focus {
    color: #3397db;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

header, footer {
    z-index: 2000;
    background-color: #252831;
    box-sizing: border-box;
    max-width: 100%;
}
header li {
    list-style: none;
    display: inline-block;
}

header ul {
    padding: 0 0 16px 0;
}

.header-link + .header-link {
    margin-left: 2%;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#footer {
    background-color: #252831;
    color: #ffffff;
    font-size: .8em;
    letter-spacing: 1px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}

/*****************************************/
h1 {
    text-align: center;
    color: #eee;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 80px;
    line-height: 1;
    padding: 10px 0;
    border-bottom: 1px solid #c4122f;
}

section ul {
    text-align: left;
}
section ul.employees {
    margin-left: 20%;
}

li.employee, li.dependent {
    list-style: none;
}

li.employee::before {
    content: "\2022";
    color: #c4122f;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: bold;
}
li.dependent::before {
    content: "\2022";
    color: #f18815;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: bold;
}

.dependents-hidden {
    display: none;
}

select, input {
    display: block;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
    height: 35px;
    letter-spacing: 0;
    padding: 0 10px;
    width: 35%;
    min-width: 280px;
    margin-bottom: 8px;
}

input {
    border-radius: 4px;
}

button {
    border: 2px solid #c4122f;
    border-radius: 4px;
    background-color: #f18815;
    color: #252831;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
    height: 35px;
    letter-spacing: 0;
    padding: 0 10px;
}


.money {
    color: #236323;
}

.errorMessage {
    font-size: .7em;
    color: #c4122f;
    display: none;
}

.confirmationMessage {
    font-size: .7em;
    color: green;
    display: none;
}

section {
    border: 1px solid #f18815;
    border-radius: 5px;
    background-color: #fbf9f9;
    width: 800px;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

*:focus {
    outline: none;
}

body.tab-navigator button:focus,
body.tab-navigator input:focus,
body.tab-navigator select:focus,
body.tab-navigator textarea:focus,
body.tab-navigator li:focus {
    outline: 5px auto -webkit-focus-ring-color;
}
